@charset "UTF-8";
.popup-wrap{
  background-color:rgba(0,0,0,.3);
  justify-content:center; 
  align-items:center;     
  position:fixed;         
  top:0;
  left:0;
  right:0;
  bottom:0; 
  display:none; 
  padding:15px; 
}

.maintextpopup-head{
  width:100%;
  height:40px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-bottom: solid gray 1px;
}

.maintextpopup{
	width: 66%;
	height: 79%;
	border-radius:10px;       
	overflow:hidden;          
	background-color:white; 
	box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); 
}

.newboard_share{
	width: 100%;
	height: 100%
}

.back_space_img{
	width:10%;
	height:28px;
	padding-top: 2px;
	padding-left: 10px;
	justify-content: flex-start;
	cursor: pointer;
	
}
.maintext_board_title {
	width:80%;
	height:28px;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	padding-top: 5px;
	color: black;
}
.board_share{
	width:10%;
	height:28px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #0095f6;
	justify-content: flex-end;
	cursor: pointer;
	background-color: white;
	border: white;
}

.board_share:hover{
	color: black;
}

hr{
	margin-top: 9px;
}

.maintext_board_content{
	width: 100%;
	height: 100%;
	display: flex;
	
}

.maintext_board_img{
	width: 70%;
	height: 100%;
	border-right: solid 1px gray;
	border-bottom-left-radius:2%;
	
}

.board_custom_img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-bottom-left-radius:2%;
}

.maintext_board_content_area{
	width: 30%;
	height: 100%;
}

.maintext_profile-area{
	width: 100%;
	height: 5%;
	display: flex;
	margin-top: 20px;
}

.maintext_profile-img{
    width: 30px;
    height: 30px;
    overflow: hidden;
    object-fit: cover;
    margin: 0px 10px 0px 20px;
    border-radius: 50%;
}
.maintext_profile-img img{
	width: 30px;
    height: 30px;
}

.creatbox-profile-info{
	margin-top: 5px;
	font-weight: bold;
	font-size: 13px;
}

.text_area{
	width: 100%;
	height: 40%;
	text-align: top;
	padding: 20px;
	border: none;
	resize: none;
	
}
.text_area_bottom{
	width: 100%;
	display: flex;
}
.text_length{
	justify-content: flex-end;
	font-size: 15px;
}

.createbox-emoticon{
	width: 70%;
	height: 20px;
	margin-left: 20px;
}

.createbox-emoticon img{
	width: 20px;
    height: 20px;
}

.board_img{
	width: 100%;
	height: 30%;
	border-bottom-left-radius:2%;
	display:flex;
    align-items:center;
    justify-content:center;
}

.img_insert_button{
	width: 150px;
	margin-top: 10px;
	padding: 6px 12px;
	border-radius: 10px;
	background: #0095f6;
	border: white;
	font-weight: border;
	color: white;
	cursor: pointer;
	
}

.img_insert_lable{
	display: flex;
  	align-items: center;
  	justify-content: center;
}

#imginsert_file {
  display: none;
}

.img_insert_button:hover{
	background: #0081d7;
}

.board_text{
	text-align: center;
}