* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   /*  background-color: #ffff; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}

body {
    background-color: #fafafa;
    height: 100vh;
}

main {
    height: 100vh;
    margin: auto;
    max-width: 935px;
}

h1 { margin: 20px 0; }
ul { list-style: none; }

button {
/* 	writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
    
    line-height: var(--system-14-line-height); */
}

/**
 * Flex rules
 */

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.direction-column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.justify-content-center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.align-items-center {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/**
 *
 */

.panel {
    background-color: white;
    border: 1px solid #dbdbdb;
    margin: 0 0 10px;
    padding: 10px 0;
    font: inherit;
    font-size: 100%;
    position: relative;
    vertical-align: baseline;
}

#auth { max-width: 350px; }
#mobile { max-width: 454px; }

#mobile img {
    height: 618px;
}

/**
 * Login section
 */ 

.panel .logo-in-panel{
	margin-top: 32px;
	margin-bottom: 12px;
}

.form{
	border: 0;
    display: flex;
    flex-direction: column;
    font: inherit;
    font-size: 100%;
    margin: 0;
    max-width: 350px;
    padding: 0;
    vertical-align: baseline;	
}

.form h2{
	color: rgb(115, 115, 115);
	font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 10px;
    text-align: center;
}

.login-with-fb,
form { width: 100%; }

.register,
form { padding: 30px 20px; }

.login-with-fb { padding: 30px 20px 20px 20px; }

form .sr-only { 
	display: none; 
}

form input {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #808080;
    padding: 10px 10px;
    width: 100%;
}


form input::placeholder {
    color: #808080;
}

form input:focus {
    border: 1px solid #808080;
    outline: none;
} 

form button {
	-webkit-appearance: none;
    background: none;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-family: var(--font-family-system);
    font-size: 14px;
    font-weight: var(--font-weight-system-semibold);
	padding: 7px 16px!important;
    background-color: #0095f6;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    width: 100%;
    pointer-events: auto;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: inherit;
    -webkit-user-select: none;
    width: auto;
}

/**
 * Separator login form from login with fb
 */

.separator-div{
	margin: 10px 40px 18px;
}
 
.separator {
	justify-content: space-between;
} 
 
.separator span {
    background-color: #dbdbdb;
    height: 1px;
    width: 35%;
}

.separator .or {
    color: #808080;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    width: 20%;
}

/* .separator span:first-child { margin-left: 20px;}
.separator span:last-child { margin-right: 20px;} */

/**
 * Login with fb section
 */

.facebook-button-div{
	margin: 8px 40px 8px 40px;
	
} 
 
.login-with-fb{
	position: relative;
	border-radius: 8px;
	color: rgb(255, 255, 255);
	font-family: -apple-system;
	font-size: 14px;
    position: relative;
    cursor: pointer;
    pointer-events: auto;
}

.facebook-icon{
    background-image: url("https://static.cdninstagram.com/rsrc.php/v3/y5/r/TJztmXpWTmS.png");
	background-repeat: no-repeat;
    background-position: -414px -300px;
    height: 16px;
    width: 16px;
    top: 3px;
    margin-right: 8px;
    line-height: 18px;
}

.login-with-fb #text{
	color: rgb(255,255,255);
	background-color: rgb(0, 149, 246);
}

/**
 * Forgot password section
 *
 */
 
.panel:first-child a{
	 font-size:12px;
	 color: rgb(0, 55, 107);
	 text-decoration: none;
	 text-align: center;
}

/** 
 * input form section
 *
 */
.input-div{
	margin: 0 40px 6px;
}

/**
 * Register section
 */
.register * { font-size: 14px; }
.register a { 
    color: #0095f6;
    font-weight: bold;
}

.register p { margin-right: 5px; }

/**
 * App download
 */
.app-download { /* padding: 15px; */ }
.app-download p { padding: 5px 0 10px 0; font-size: 14px;}
.app-download img { 
    height: 40px; 
    margin: 0 5px;
}

/**
 * Footer
 */
footer {
    margin: 0 auto 30px auto;
    max-width: 935px;
}
footer ul { /* margin-bottom: 20px; */ }
footer ul li { margin: 0 10px 10px; } 
footer ul li a { color: #385185; }
footer .copyright { color: #808080; }
footer ul li a,
footer .copyright { 
    /* font-weight: bold; */
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    /* text-transform: uppercase; */
 }

footer p{
	margin-bottom: 30px;
	/* padding-bottom: 30px; */
}
/**
 * Media queries
 */

@media screen and (max-width: 767px) {
    main { margin: 30px auto 50px auto; }
    footer .copyright,
    footer ul li a { font-size: 13px; }
}