@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 244px;
    height: 100%;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    justify-content: left;
    padding: 5px 0;
    border: solid rgb(216, 209, 209) 1px;
    background-color: white;
}




.nav-wrapper{
    width: 100%;
    max-width: 0%;
    height: 100%;
}

.brand-img{
    width:110px;
    height: 40px;
    margin-top: 5px;
    position: relative;
    top: 20px;
    left: 17px;
}


.search-box::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

a{
	text-decoration:blink;
	color: black;
}

.nav-items{
    width: 200px;
    height: 100%;
    position: relative;
    top : 50px;
    left: 4px;
    align-content: center;
    
}

.nav-items-box:hover{
	background: rgb(216, 209, 209);
}

.nav-items-box{
	width: 100%;
	height: 40px;
	border: solid 1px white;
	padding: 9px 9px 9px 9px;
	border-radius: 20px;
	margin-bottom: 20px;
}

.nav-items-detail{
    display: flex;
    position: relative;
    width: 90%;
    height: 20px;
    margin-bottom: 30px;

}

#home{
	font-weight: bolder;
}

.nav-items-img{
	width:20px;
	height:20px;
	margin: 0px 10px
}

.nav-items-text{
    position: relative;
    left: 20px;
    top: 1px;
    width: 100%;
}

.icon{
    height: 100%;
    cursor: pointer;
    display: inline-block;
}

#user_profile{
	
	width:26px;
	height:20px;
	background-color: transparent;
    border-radius: 100%;
    border: solid 1px;
    overflow: hidden;
}

.user_profile_img{
	width:20px;
	height:20px;
    cursor: pointer;
    object-fit: cover;
}

@media (max-width: 600px){
    .navbar{
        display: none;
    }
}

@media (max-width: 1100px){
    .nav-items-text{
    	display: none;
    }
    .navbar, .nav-wrapper{
    	width:70px;
    }

	
	.nav-items-box{
		width: 50px;
		height: 50px;
		padding: 15px 0px 0px 5px;
		margin: 15px 10px 0px 5px;
		border-radius: 50%;
	}
	
	.brand-img{
		display: none;
	}
	

	.nav-items-img:hover{
		background: rgb(216, 209, 209);
	}
}
